/.idea/
/dubbo-provider/mvnw.cmd
/dubbo-provider/mvnw
/dubbo-provider/.mvn/
/dubbo-provider/dubbo-provider.iml

/dubbo-consumer/mvnw.cmd
/dubbo-consumer/mvnw
/dubbo-consumer/.mvn/
/dubbo-consumer/dubbo-consumer.iml/


/dubbo-interface/.mvn/
/dubbo-interface/dubbo-interface.iml
/dubbo-interface/mvnw
/dubbo-interface/mvnw.cmd

/dubbo.iml
